<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <LinkTo
      class="navbar-brand"
      @route="index"
      data-test-navbrand
    >VaultX</LinkTo>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <LinkTo
            class="nav-link"
            aria-current="page"
            @route="index"
          >Home</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo
            class="nav-link"
            aria-current="page"
            @route="cart"
          >Cart</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>